@import '../../bower_components/normalize-css/normalize.css';
@import './style.scss';

$header-background-color: #333;

body {
  display: flex;
  background-color: white;
  /* before */
  p {
    padding: 10px ;
    margin: 0;
  } 
}
