$header-background-color: #333;
$header-link-color: #99998F;
$body-background-color: #F4F4F4;
$border-color: #DFDFDF;
$filters-color: #A1A4A7;
$text-color: #444;

@import "../../bower_components/normalize-css/normalize.css";
@import "style"; 