{
 "extends": "eslint:recommended",
 "env": {
    "browser": true
  },
  "rules": {
    "no-alert": 1,
    "no-console": 1,
    "object-curly-spacing": [1, "always"],
    "semi": [2, "always"],
    "semi-spacing": [1, { "before": false, "after": false }],
    "space-before-blocks": [1, "always"],
    "space-in-parens": [1, "never"]
  },
  "globals": {
    "$"
  }
}
