doctype html
html
  block link
    - var currentPage = 'index';
  head
    link(href='css/main.css', rel="stylesheet")
  body
    include ../includes/header.pug
    block content
    script(src='js/main.js')
  